<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Marketplace for New and Used Clothes</h1>
      <p>Easy to buy and sell!</p>
    </div>
  </div>

  <section id="listing-procducts">
   <div class="container">
    <div class="row">
  <%= render "products/listing" %>
  </div>
  </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Men</h2>
        <p>Thousands of new and used clothes. Affordable and unqiue clothes in just one website.</p>
        <%# <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> %>
      </div>
      <div class="col-md-4">
        <h2>Women</h2>
        <p>Thousands of new and used clothes. Affordable and unqiue clothes in just one website.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>