<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Marketplace for New and Used Clothes</h1>
        <h3>Easy to buy and sell!</h3>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Women</h2>
        <p>Thousands of new and used clothes.  Affordable and unique clothes in just one website.</p>
      </div>
      <div class="col-md-4">
        <h2>Men</h2>
        <p>Thousands of new and used clothes.  Affordable and unique clothes in just one website..</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>