
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">New Product</h1>
    <p class="lead"></p>
 
<%# <h1 class="h3">New Product</h1> %>


<%= render 'form', product: @product %>

<%= link_to 'Back', products_path, class: "btn btn-dark"  %>

 </div>
</div>